

*{
    margin:0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    display: block;
    background-color: darkred;
    padding: 20px;
    text-align: center;
    color: white;
    font-weight: bold;
    text-decoration: none;

}

img{

    width: 100vw;
   
}

/*Escondendo a barra de rolagem*/

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

a:hover{
    background-color: red;

}


