*{
    margin: 0px;
    padding: 0px;
}

/*Criando um iframe */

body{
    height: 95vh;
    width: 95vw;
    background: black url('../imagens/tela-home.jpg') no-repeat top center;
    background-size: cover;
}

